In [9]:
import findspark
B='../Python-and-Spark-for-Big-Data-master'

In [2]:
findspark.init('/opt/apache-spark/spark-2.3.2-bin-hadoop2.7')

In [5]:
import pyspark
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [10]:
print(B)

../Python-and-Spark-for-Big-Data-master

In [12]:
df = spark.read.json(B+'/Spark_DataFrames/people.json')

In [13]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [14]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [15]:
df.columns

['age', 'name']

In [16]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [17]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [19]:
from pyspark.sql.types import (StructField,
                               StringType,
                               IntegerType,
                               StructType)

In [24]:
data_schema = [StructField('age',IntegerType(),True),
              StructField('name',StringType(),True)]

In [25]:
final_struct = StructType(fields=data_schema)

In [26]:
df = spark.read.json(B+'/Spark_DataFrames/people.json',schema=final_struct)

In [27]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [29]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [30]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [32]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [37]:
type(df['age'])

pyspark.sql.column.Column

In [35]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [33]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [34]:
df.head(2)[0]

Row(age=None, name='Michael')

In [36]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [38]:
df.select(['age','name'])

DataFrame[age: int, name: string]

In [40]:
df.withColumn('dbl_age',df['age']*2).show()

+----+-------+-------+
| age|   name|dbl_age|
+----+-------+-------+
|null|Michael|   null|
|  30|   Andy|     60|
|  19| Justin|     38|
+----+-------+-------+

In [41]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [47]:
df.createOrReplaceTempView('people')

In [48]:
results = spark.sql("SELECT * FROM people")

In [49]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [50]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [51]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+